@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
}
body{
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
}

.wraper {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.heading h1{
    margin-top: 15%;
    font-size: 3vw;
}

.project-btn{
    width: 60%;
    height: 50%;
    margin-top: 5%;
    /* background-color: red; */
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    flex-direction: column;
    justify-content: space-around;
}
.btn-row{
    width: 100%;
    align-content: space-around;
    justify-content: space-around;
    display: flex;
}

.btn{
    font-size: 32px;
    letter-spacing: 2px;
    padding: 8px 20px; 
    background-color: transparent;  
    color: #E0C3FC;
    border-radius: 10px;
    transition: .7s;
    border: none;
    border: 2px solid black;
}

.btn a{
    color: black;
}

.btn:hover{
    transform: scale(1.1);
}



@media only screen and (max-width: 1400px) {
    .btn{
        font-size: 22px;
    }
     
}

@media only screen and (max-width: 1200px) {
    .btn{
        font-size: 16px;
    }
     
}
@media only screen and (max-width: 900px) {
    .btn{
        padding: 4px 10px; 
        font-size: 16px;
    }
     
}
@media only screen and (max-width: 750px) {

    .heading h1{
        margin-top: 15%;
        font-size: 5vw;
    }

    .project-btn{
        margin-top: 5%;
        height: 1000px;
        justify-content: center;
        gap: 20px;
    }
    .btn-row{
        flex-direction: column;
        align-items:center;
        justify-content: space-around;
        gap: 20px;
        flex-wrap: wrap;
    }
     
}
